<div class="gallery-section">

  <div class="gallery-header text-center">
    <h3>
      <i class="bi bi-images theme-icon me-2"></i>
      Photo Gallery
    </h3>
    <p class="subtitle">Beautiful memories captured 📸</p>
  </div>

  <!-- GRID -->
  <div class="gallery-grid">
    <div
      class="photo-card"
      *ngFor="let photo of photos; let i = index"
      (click)="openModal(i)"
      [class.no-hover]="selectedIndex !== null"
    >
      <img [src]="photo" />
    </div>
  </div>

</div>

<!-- 🔥 MODAL -->
<div class="photo-modal" *ngIf="selectedIndex !== null">

  <div class="modal-backdrop" (click)="closeModal()"></div>

  <div class="modal-content" (click)="$event.stopPropagation()">

    <!-- <span class="close-btn" (click)="closeModal()">✕</span> -->

    <img [src]="photos[selectedIndex!]" />

    <!-- <button class="nav prev" (click)="prevImage($event)">‹</button>
<button class="nav next" (click)="nextImage($event)">›</button> -->

  </div>

</div>